<%= render 'search' %>

<% content_for :title, @book.title %>


<article class="book">
  <header>
    <h2><%= @book.title %> </h2>
  </header>

<div style="float:left; margin:0 1em .5em 0;"><%= image_tag(@book.image_cover_url, height:"240") %></div>
<p><label>ISBN:</label> <%= @book.isbn %></p>
  <p><label>Author:</label> <%= @book.author.name %></p>
  <p><label>Genre:</label> <%= @book.genre %></p>
  <p><label>Pages:</label> <%= number_with_delimiter(@book.pages) %></p>
  <p><label>Date Published:</label> <%= @book.published_on %></p>
  <p><label>Abstract:</label> <%= @book.abstract %></p>
  <p><label>Number Available to Reserve:</label> <%= @book.total_in_library %></p>

  <p>
    <% if @book.total_in_library > @book.reservations.count %>
      <% if @book.reservations.where(["user_id = :user_id", { user_id: current_user.id}]).count == 0 %>
        <%= button_to "Reserve This Book", {:controller => "reservations", :action =>"create", :book_id => @book.id }, :method => :post %>
      <% else %>
        You have already reserved this book.
      <% end %>

    <% else %>
      All of these books are checked out.
    <% end %>
  </p>

<% if @book.reservations.where(["user_id = :user_id", { user_id: current_user.id}]).count > 0 %>
 <p>
    <%= button_to "Return This Book", {:controller => "reservations", :action =>"destroy", :book_id => @book.id}, :method => :post %>
  </p>
<% end %>

 <div style="float:none; clear:both;"> </div>
</article>

<br>



<%= link_to 'All Books', books_path %>
<% if current_user && current_user.admin == true %>| <%= link_to 'Edit', edit_book_path(@book) %>
<%= button_to 'Delete', @book,
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
               <% end %>