<% content_for :title, @book.title %>


<article class="book">
  <header>
    <h2><%= @book.title %> </h2>
  </header>

<div style="float:left; margin:0 1em .5em 0;"><%= image_tag(@book.image_cover_url, height:"240") %></div>
<p><label>ISBN:</label> <%= @book.isbn %></p>
  <p><label>Author:</label> <%= @book.author.name %></p>
  <p><label>Genre:</label> <%= @book.genre %></p>
  <p><label>Pages:</label> <%= number_with_delimiter(@book.pages) %></p>
  <p><label>Date Published:</label> <%= @book.published_on %></p>
  <p><label>Abstract:</label> <%= @book.abstract %></p>
  <p><label>Number Available to Reserve:</label> <%= @book.total_in_library %></p>
 <div style="float:none; clear:both;"> </div>
</article>

<%= link_to 'All Books', books_path %> | <%= link_to 'Edit', edit_book_path(@book) %>
<%= button_to 'Delete', @book,
               method: :delete,
               data: { confirm: 'Are you sure?' } %>