
<h3>Reservations</h3>

<p>


<% @reservations.each do |reservation| %>






<article class="book">
<div style="float:left; margin:0 1em .5em 0;"><%= image_tag(reservation.book.image_cover_url, height:"240") %></div>
<% date_diff = (reservation.due_on.to_date - DateTime.now.to_date).to_i  %>
<h4><%= reservation.book.title %></h4>


  <p>Reserved by: <%= reservation.user.name %> </p>

  <p> Reserved on: <%= reservation.reserved_on %> </p>

  <p>Due on <%= reservation.due_on %></p>

  <% if date_diff < 0 %>
  <p><span class="overdue">Overdue</span></p>
  <% end %>

<% if reservation.user_id == current_user.id %>
<p>
    <%= button_to "Return This Book", reservation_path(reservation), :method => :delete %>
  </p>
<% end %>

 <div style="float:none; clear:both;"> </div>


</article>

  <% end %>

</p>